body {
    background-color: rgb(37, 25, 68);
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh; 
    margin: 0; 
    padding: 0;
}
#Centro{

    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 30px; 
    border: 4px solid #fff; 
    border-radius: 20px;
    background-color: rgb(80, 62, 48);
    color: white; 
    max-width: 90%; 
    width: 400px; 

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
h1{
    color: white;
    text-align: center;
}
label{
    color: rgb(245, 245, 245);
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
input{
    padding: 8px;
    border: 2px solid black; 
    border-radius: 20px;
    margin-top: 5px; 
    width: 80%; 
    max-width: 300px; 
}
#nome, #email, #senha{

}
#botaodelogin{
    padding: 10px 20px; 
    border: 3px solid black; 
    border-radius: 10px;
    color: black;
    margin-top: 20px; 
    cursor: pointer;
    transition: all 0.5s ease-in-out
}
#barradeFORCA{
width:200px; 
height:10px; 
background:#ccc;
border-radius:5px; 
margin-top:10px;
transition: all;
}
#barraINTERNA{
height:10px; 
width:0%; 
border-radius:5px;
transition: all 0.9s ease-in-out, width 0.3s linear 0.1s;
}
#textoFORCA{
    font-weight:bold;
    transition: all 0.5s ease-in-out, width 0.3s linear 0.1s;
}
#fazercadastro{
    
}
