#Bemvindo{
    font-size: smaller;
    padding-left: 12px;
}
#menu{
  text-align: center;  
  background: linear-gradient(to right, #34b1de, #c7f1ef); 
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent; 
  -webkit-text-fill-color: transparent;
  font-size: 55px;
  font-family: "Chakra Petch", sans-serif;
}
.links{
 
    list-style: none;
    margin: -8px;
    padding: 2px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
}

 .links li {
  font-family: "Orbitron", sans-serif;
  margin: -8px;
  margin-top: 10px;
  padding-bottom: 9px;
  padding-right: 55px;
}

.links a {
    padding-left: 20px;
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
    color: rgb(129, 137, 143);
    transform: translateY(99px);
    opacity: 0;
    transition: all 0.1s ease;
}
.links a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    padding-left: 2px;
    padding-right: 2px;
}
.links li a {
display: inline-block;
transition: all 4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
h1{
    font-family: "Chakra Petch", sans-serif;
}
#Dica{



}
html,body{
 
  margin: 0;
  background: linear-gradient(#071022 , #062033);
  color: #e6f3f8;
  font-family: Inter, system-ui, "Segoe UI", Roboto, Arial, sans-serif;
  
  
}
p{
    font-family: "Istok Web", sans-serif ;
    padding-left: 15px;
    margin: 10px 10px;
}


h3 {
    text-align: center;
    font-size: 40px; 
    color: #5e6ad1; 
    width: 300px;
    border: 5px #24257c25;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #24257c25;
    border-radius: 10px;
    margin-left: auto;
     font-family: "Chakra Petch", sans-serif;
    margin-right: auto;
}

#aprendaC {
  padding-left: 15px;
  border-right: 4px solid white;
  width: 9ch;
  white-space: nowrap;
  overflow: hidden;
  animation: digitar 2s steps(9), piscar 0.5s step-end infinite alternate;
}
    
@keyframes digitar {
    from { width: 0; }
    to { width: 9ch; }
}

@keyframes piscar {
    0%, 100% { border-color: transparent; }
    50% { border-color: white; }
}

.links li a {
        display: inline-block;
      transition: all 6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
body.fadeout {
  opacity: 0;
}
body.fadein {
  opacity: 1;

}
 body.fadein .links a {

  animation: anim 1s forwards;

}
 @keyframes anim {

  from {

    opacity: 0;
    transform: translateY(15px);

   }
  to { 
    opacity: 1;
    transform: translateY(0);

   }

 }
 #vamoscomecar{
  margin-left: 15px;
 }