body {
    background: #111;
    color: white;
    font-family: Arial;
    padding: 20px;
}

#editor {
    border: 1px solid #444;
    height: 300px;
    margin-bottom: 10px;
}

#saida {
    background: #000;
    padding: 10px;
    border: 1px solid #444;
    white-space: pre-wrap;
}
